body{
  margin: 0px;
  color: white;
  background-color: #24292e;
}

.menu-wrapper{
  z-index: 1;
  background-color:#1f2225;
}

.menu-container{
  z-index: 1;
  background-color:#1f2225;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline;   
  margin: auto;
  background-color: #1f2225;
  margin: -10px 0px 20px 0px;
}

.left{
  margin-left: 20px;
  order: 1;
  display: flex;
  flex: 2 0 0;

}

.middle{
  display: flex;
  order: 2;
  flex: 2 0 0;
}

.right{
  display: flex;
  order: 3;
  flex: 2 0 0;
  margin-right: 20px;
  justify-content: flex-end;
}


.menu-element{
  padding: 10px 15px 10px 15px;
  margin: 10px;
  width: 90px;
  height: 30px;
  margin-top: 10px;
  
  line-height: 30px;
  color:rgb(32, 201, 219);
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.7s;
}


.menu-element:hover{
  background-color: #454d55;
}

.main-container{  
    margin-right: auto;
    margin-left: auto;
    max-width: 1012px;
}

.login-container{
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 60px auto 30px auto;
  width: 450px;
  display: flex;
  flex-flow: row wrap;
  transition: background-color 0.7s;
}

.login-container:hover{
  background-color: #2d343a;
}

.login-stepper{
  align-self: center;  
}

.register-container{
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 60px auto 30px auto;
  width: 450px;
  display: flex;
  flex-flow: row wrap;
  transition: background-color 0.7s;
}

.register-container:hover{
  background-color: #2d343a;
}

.register-stepper{
  align-self: center;  
  padding-top: 2em;
}


.centered-button{
  margin-left: auto;
  margin-right: auto;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131416;
  color: white;
  text-align: center;
  min-height: 100px;
}

.header-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;  
  background-color: rgb(59, 179, 228);
}

.header-item:first-child{
  border-right: 0px !important;
  border-left: 0px !important;
}

.header-item:last-child{
  border-right: 0px !important;
}

.header-item{
  /* padding: 10px 0px 10px 0px;
  margin: 10px 0 10px 0;
  min-width: 100px;
  height: 50px;
  
  line-height: 30px;
  color:#2d343a;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid white; */
  padding: 5px;
  width: 200px;
  height: 50px;
  margin: 10px 0 20px 0;
  
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  border-left: 1px solid white;
}